<% if @pull_requests_by_gem.empty? %>
  <h2>No open pull requests 🎂</h2>
<% else %>
  <ul class="apps">
    <% @pull_requests_by_gem.each do |gem| %>
      <li class="app">
        <h2>
          <%= gem.fetch(:gem_name) %> (<%= gem.fetch(:pull_requests).count %>)
        </h2>
        <ul class="pulls">
          <% gem.fetch(:pull_requests).each do |pull_request| %>
            <li class="pull <%= old_pull_request?(pull_request.fetch(:opened_at))? 'warning' : '' %>">
              <a class="<%= old_pull_request?(pull_request.fetch(:opened_at))? 'warning' : '' %>" href="<%= pull_request.fetch(:url) %>">
                <%= pull_request.fetch(:application_name) %>
              </a>
              <span class="time-elapsed">Opened <%= pull_request.fetch(:open_since) %></span>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
