<% if @pull_requests_by_application.empty? %>
  <h2>No open pull requests 🎂</h2>
<% else %>
  <ul class="apps">
    <% @pull_requests_by_application.each do |application| %>
      <li class="app">
        <h2>
          <a href="<%= application.fetch(:application_url) %>">
            <%= application.fetch(:application_name) %> (<%= application.fetch(:pull_requests).count %>)
          </a>
        </h2>
        <ul class="pulls">
          <% application.fetch(:pull_requests).each do |pull_request| %>
            <li class="pull">
              <a class="<%= old_pull_request?(pull_request.fetch(:opened_at))? 'warning' : '' %>" href="<%= pull_request.fetch(:url) %>">
                <%= pull_request.fetch(:title) %>
             </a>
             <span class="pull-request-status">
              <% if pull_request.fetch(:status) == 'approved' %>
                (approved)
              <% elsif pull_request.fetch(:status) == 'changes requested' %>
                (changes requested)
              <% end %>
             </span>
              <span class="time-elapsed">Opened <%= pull_request.fetch(:open_since) %></span>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
